/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #D8D8D8;
    margin: 0;
    padding: 0;
}

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}


header {
    background-color: #ECECEC;
    margin-top: 0;
    border-top: 5px solid #007bff; 
}


/* Pokemon */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-card {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

/* Buscador */
#search-input {
    text-align: center;
    border-radius: 100px;
    height: 25px;
    width: 400px;
    padding: 10px;
    font-size: 20px;
}

#search-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.buscador {
    text-align: center;
    margin-bottom: 10px;
}


/* Mas informacion */
.more-info-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.more-info-button:hover {
    background-color: #0056b3;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.navbar-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.navbar-item {
    margin-right: 5px;
}

.navbar-link {
    display: block;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
}

/* Asignar colores de tipos a elementos de la lista */
.navbar-item a[data-type="all"] {
    background-color: var(--clr-white);
}

.navbar-item a[data-type="normal"] {
    background-color: var(--type-normal);
}

.navbar-item a[data-type="fire"] {
    background-color: var(--type-fire);
}

.navbar-item a[data-type="water"] {
    background-color: var(--type-water);
}

.navbar-item a[data-type="grass"] {
    background-color: var(--type-grass);
}

.navbar-item a[data-type="electric"] {
    background-color: var(--type-electric);
}

.navbar-item a[data-type="ice"] {
    background-color: var(--type-ice);
}

.navbar-item a[data-type="fighting"] {
    background-color: var(--type-fighting);
}

.navbar-item a[data-type="poison"] {
    background-color: var(--type-poison);
}

.navbar-item a[data-type="ground"] {
    background-color: var(--type-ground);
}

.navbar-item a[data-type="flying"] {
    background-color: var(--type-flying);
}

.navbar-item a[data-type="psychic"] {
    background-color: var(--type-psychic);
}

.navbar-item a[data-type="bug"] {
    background-color: var(--type-bug);
}

.navbar-item a[data-type="rock"] {
    background-color: var(--type-rock);
}

.navbar-item a[data-type="ghost"] {
    background-color: var(--type-ghost);
}

.navbar-item a[data-type="dark"] {
    background-color: var(--type-dark);
}

.navbar-item a[data-type="dragon"] {
    background-color: var(--type-dragon);
}

.navbar-item a[data-type="steel"] {
    background-color: var(--type-steel);
}

.navbar-item a[data-type="fairy"] {
    background-color: var(--type-fairy);
}